<div id="centered">
  <p id="message">
    We are students from Yuntech which is a school that
     locate near the middle of Taiwan. Because of IOT class's final project,
     we have to make the project together.
  </p>
  <h2 id="title">Team members</h2>
  <div id="profile-box-wrapper">
    <div class="profile-box">
      <div class="pfp">
        <img src="/icon/lele.png">
        <p>Kevin</p>
      </div>
      <div class="info">
        <p>Email:freewing@gmail.com</p>
        <p>Contact: 09-12345678</p>
        <p>
          Responsibility: sensor end source code,
            device connection, presentation.
        </p>
      </div>
    </div>
    <div class="profile-box">
      <div class="pfp">
        <img src="/icon/natu.png">
        <p>Ken</p>
      </div>
      <div class="info">
        <p>Email:ed77xxx@gmail.com</p>
        <p>Contact: 09-87654321</p>
        <p>
          Responsibility: front and back end source code,
           system integration
        </p>
      </div>
    </div>
  </div>
</div>
