
<div>
  <div id="background">
    <img src="/icon/homeBackground.jpg" />
    <p class="quote first-quote">
      "Some meaningful message here,
    </p>

    <p class="quote second-quote">
      I can't even come up with one."
    </p>
  </div>

  <h2 id="ds-caption">
    Our product advantages
  </h2>

  <div id="ds-wrapper">
    <ul>
      <li>
        <div class="ds-item">
          <div><img src="/icon/camera.png"/></div>
          <h3>Camera</h3>
          <p>Camera will be turn off if no person is detected.</p>
        </div>
      </li>
      <li>
        <div class="ds-item">
          <div><img src="/icon/power.png"/></div>
          <h3>Power</h3>
          <p>Because camera is not always on, we can achieve lower power consumption.</p>
        </div>
      </li>
      <li>
        <div class="ds-item">
          <div><img src="/icon/network.png"/></div>
          <h3>Network</h3>
          <p>We only transfer image one by one, so network traffic can be considered minimal.</p>
        </div>
      </li>
      <li>
        <div class="ds-item">
          <div><img src="/icon/server.png"/></div>
          <h3>Server</h3>
          <p>Image will be organize by server script and categorize into different folder.</p>
        </div>
      </li>
      <li>
        <div class="ds-item">
          <div><img src="/icon/disk.png"/></div>
          <h3>Space</h3>
          <p>We can even shrink images to minimize storage requirement.</p>
        </div>
      </li>
      <li>
        <div class="ds-item">
          <div><img src="/icon/price.png"/></div>
          <h3>Price</h3>
          <p>We only need two sensors,which are ir and camera, and a raspberry pi.</p>
        </div>
      </li>
    <ul>
  </div>
</div>
