<div id="centered-panel">
  <h2 class="section-title"> Calendar </h2>
  <div id="calendar">
    <div id="selected-result">
      <p id="weekday-tag"></p>
      <p id="month-tag"></p>
      <p id="date-tag"></p>
      <p id="year-tag"></p>
    </div>

    <div id="date-selector">
      <div id="year-month">
        <button id="ym-back"><img src="/icon/back.png"></button>
        <span>
          <select id="month-selector"></select>
          <select id="year-selector"></select>
        </span>
        <button id="ym-next"><img src="/icon/next.png"></button>
      </div>

      <div class="col-7" id="weekday-labels">
        <span>SU</span>
        <span>MO</span>
        <span>TU</span>
        <span>WE</span>
        <span>TU</span>
        <span>FR</span>
        <span>SA</span>
      </div>

      <div class="col-7" id="date-list">
        <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span>
        <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span>
        <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span>
        <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span>
        <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span> <span><button></button></span>
        <span><button></button></span> <span><button></button></span>
      </div>
    </div>

    <div id="search-wrapper">
      <div id="search">
        <div id="cam-wrapper">
          <img src="/icon/camera.png"/>
          <select>
          </select>
        </div>
        <button id="search-btn">
          search
          <img src="/icon/search.png" />
        </button>
     </div>
   </div>
  </div>

  <h2  class="section-title"> Timeline </h2>
  <div id="timeline-wrapper">
  </div>
</div>

<div id="modal">
  <div id="modal-content">
    <img src="/image/cam1/2020-06/9/13/14:22.png" id="modal-image" />
    <button id="md-back" class="md-btn">&lt;</button>
    <button id="md-next" class="md-btn">&gt;</button>
    <button id="md-close"  class="md-btn">&times;</button>
  </div>
  <div id="modal-caption"></div>
</div>
