<div id="centered">
  <p id="message">We’ve got two pricing plans to choose from.
      Before you choose, please consider choosing our
      premium plan, it is easier for you to use our product.
      And you will not even worry about setting up server and sensor
      to run the app.
  </p>
  <h2 class="section-title">Plans</h2>
  <div id="price-box-wrapper">
    <div class="price-box" id="standard">
      <h3>
        Standard
      </h3>
      <p>
        $999
      </p>
      <ul>
        <li>Sensor end source code</li>
        <li>Front end source code</li>
        <li>Back end source code</li>
        <li>Front end page layout as well as style sheet</li>
      </ul>
      <button>Sign up</button>
    </div>
    <div class="price-box" id="premium">
      <h3>
        Premium
      </h3>
      <p>
        $2999
      </p>
      <ul>
        <li>Sensor end source code</li>
        <li>Front end source code</li>
        <li>Back end source code</li>
        <li>Front end page layout as well as style sheet</li>
        <li>Device like sersor and server will be setting up by our team</li>
      </ul>
      <button>Sign up</button>
    </div>
  </div>
  <h2 class="section-title">Q&A</h2>
  <div id="QA-box-wrapper">
    <div class="QA-box">
      <h3>Can I refund after using the service over ten days?</h3>
      <p>
        No. It is important to know that refund is only possible
        within ten days.
      </p>
    </div>
    <div class="QA-box">
      <h3>Can I reorganize or remove some snapshots at front end website?</h3>
      <p>
        No. We don't provide that kind of service. But you can contact the
        admin that in charges of your back end to do it.
      </p>
    </div>
    <div class="QA-box">
      <h3>Will website update itself when there is some new data coming in?</h3>
      <p>
        Yes. When your previous search's time is today, then it will update your view.
        Including chart view if you are currently in.
      </p>
    </div>
    <div class="QA-box">
      <h3>Can I navigate through images more easily?</h3>
      <p>Yes. you can just click on the specific image to zoom it.
        Click back and next arrow to navigate images.
        Click the clsoe icon to close the whole modal.
      </p>
    </div>
  </div>
</div>
